/**********************************Global**************************************/
@font-face {
  font-family: 'Open Sans';
  src: url('fonts/OpenSans-Regular.ttf') format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: 'Bree Serif';
  src: url('fonts/BreeSerif-Regular.ttf') format("truetype");
  font-weight: bold;
}

html{
  font-size: 62.5%;
}


body{
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
  background-color: #f2f4e8;
  /*background-attachment: fixed;*/
}

/********************************main******************************************/
main{
  max-width: 1583px;
  margin: 0 auto;
  background-color: #f2f4e8;

}
header{
  text-align: center;

}
nav{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#navigation{
  position: fixed;
  width: 1583px;
  background-color: rgba(126,149,14,1);
  z-index: 1;
}
a{
  text-decoration: none;
  margin: 15px;
  color: black;
  display: grid;
}

.titre{
  height: 900px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url('../image/railroads.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
}
nav a:hover, .fa-home:hover, .fa-user-circle-o:hover, .fa-folder-open:hover, .fa-envelope:hover, .fa-file-text:hover{
  color: white;
  transform: scale(1.5);
}
.whitestyle{
  color: white;
}

h1{
  color: white;
  font-size: 5rem;
  font-family: 'Bree Serif', serif;
  border: 2px solid white;
  padding: 1%;
  background-color: rgba(255, 255, 255, 0.5);
  text-shadow: 1px 1px 2px black;
}
h1,h2{
  text-align: center;
}
h2{
  height: 150px;
  background-image: url('../image/arabesque.png');
  background-repeat: no-repeat;
  background-size: 800px;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  font-family: 'Anton', sans-serif;
  font-size: 20px;
}
.titre p{
  color: white;
  font-size: 2.5rem;
  text-shadow: 1px 1px 2px black;
}
/***********************************about**************************************/
.a-propos{
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 800px;
  padding-top: 5%;
}
.a-propos img
{
  width: 200px;
  height: 200px;

}
.text{
  width: 950px;
  height: 300px;
  display: flex;
  justify-content: space-around;

}
h3{
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}
li{
  font-size: 1.5rem;
}
.text div{
  border: 3px solid black;
  width: 270px;
  box-shadow: 10px 15px 15px 0 black;
  height: 250px;
  padding: 1%;

};
.a-propos p:hover{
  color: white;
  transform: scale(1.5);
  margin-top: 2.5%;

}

.a-propos p{
  font-size: 1.5rem;
  text-align: center;
}
.competences{
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
  margin-top: 0.5%;
  width: 1250px;
  border: 3px solid black;
  padding: 25px;
  box-shadow: 10px 15px 15px 0 black;
}

.competences img{
 width: 100px;
 height: 100px;
 border-radius: 200px;
 border: 0.5px solid white;

}
/*********************************work*****************************************/

.maquette{
  height: 800px;
  width: 1000px;
  margin-left: 18.5%;
  padding-top: 5%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  position: relative;
  z-index: 0;
}
.maquette div{
  width: 200px;
}

.rectangle:hover, .rectangle2:hover, .rectangle3:hover, .rectangle4:hover, .rectangle5:hover, .rectangle6:hover, .rectangle7:hover, .rectangle8:hover{
  box-shadow: 0 0 20px 0 black;
  transform: scale(1.5);
}
#box1{
  position: absolute;
  z-index: 1;
  margin-top: 15%;
}
#box2{
  position: absolute;
  z-index: 1;
  margin-top: 15%;

}
#box3{
  position: absolute;
  z-index: 1;
  margin-top: 15%;
}
#box4{
  position: absolute;
  z-index: 1;
  margin-top: 15%;
}
#box5{
  position: absolute;
  z-index: 1;
  margin-top: 15%;
}
#box6{
  position: absolute;
  z-index: 1;
  margin-top: 15%;
}
#box7{
  position: absolute;
  z-index: 1;
  margin-top: 15%;
}
#box8{
  position: absolute;
  z-index: 1;
  margin-top: 15%;
}
.carre{
  z-index: auto;
}

#greenoffice{
  width: 200px;
  height: 200px;
  border-radius: 5px;
}
#creasoul{
 height: 200px;
 width: 200px;
 border-radius: 5px;
}
#yoga{
  height: 200px;
  width: 200px;
  border-radius: 5px;
}
#wolfgang{
  width: 200px;
  height: 200px;
  border-radius: 5px;
}
#carnet{
  width: 200px;
  height: 200px;
  border-radius: 5px;

}
#souris{
  width: 200px;
  height: 200px;
  border-radius: 5px;

}
#blog{
  width: 200px;
  height: 200px;
  border-radius: 5px;

}
#bons{
  width: 200px;
  height: 200px;
  border-radius: 5px;

}

/*********************************contact**************************************/
#contact{
  margin-top: 5%;
  padding-left: 4.1%;
  background-color: rgba(126,149,14,1);
  height: 600px;
  padding-top: 5%;
}
#contact h2{
  margin-bottom: 1%;
  margin-left: -2%;
  background-image: url('../image/arabesque1.png');

}
#formulaire{
  width: 728px;
}
.fieldset{
  display: flex;
  flex-direction: column;
  border-right: 2px solid black;
  margin-top: 8.5%;
  width: 728px;
}
input{
  border-radius: 5px;
  height: 25px;
  border-color: black;
  width: 250px;
}
textarea{
  width: 500px;
  border: 2px solid black;
  border-radius: 5px;
}
button{
  margin-top: 10px;
  width: 150px;
  border-radius: 5px;
  border: 2px solid black;
  background-color: white;
}

label{
  font-size: 2rem;
  color: black;
}

.site{
  width: 250px;
  display: flex;
  justify-content: space-around;
  float: right;
  margin-right: 25%;
  margin-top: 10%;
}

i{
  margin: 10px;
}
/***********************************cv*****************************************/
.cv{
  width: 708.5px;
  height: 945px;
  margin-left: 25.7%;
  padding: 10px;
  margin-top: 5%;
}
.close{
  display: inline-block;
  position: absolute;
  width: 2.5rem;
  height: 2.5rem;
  padding: 2px;
  text-decoration: none;
  text-shadow: none;
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
  background: #f2f4e8;
  color: #fff;
  border: 3px solid #fff;
  border-radius: 20px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  margin-top: 6%;
  margin-right: 7%;
}

@media screen and (max-width:1024px) {

body{
  width: 1024px;
}
header, main{
  max-width: 100%;


}
#navigation{
  width: 1024px;
}
.titre{
  width: 100%;
  height: 550px;
}
h1{
  font-size: 3.5rem;
  margin-top: 10%;
  margin-left: 1%;
  margin-right: 1%;
}
.text{
  height: 320px;
}
.competences{
  width: 900px;
}
#work{
  margin: 0 auto;
}

#contact{
  height: 500px;
}
.contact h2{
  margin: 0 ;
}
#formulaire, .fieldset{
  height: 300px;
  width: 320px;
  margin: 0 0 0 75px;
}
.site{
  margin: 110px 190px 0 0 ;
  float: right;
}
#Messages{
  width: 250px;
}
button{
  margin-left: 15%;
  height: 35px;
}
.cv{
  margin: 50px 0px 0 150px;
}
}
@media screen and (max-width:320px) {
  #talk{
    margin-bottom: 5%;
  }
  .cv{
    width: 320px;
    height: 550px;
    margin: 150px 0px 0 50px;
  }
}
