/*  VISUALISATION DES BLOCS  */

/*div, header, section, article, aside, nav {
	border: 1px dashed rgba(0,0,0,0.15);
	background-color: rgba(0,0,0,0.05);
}*/

/*.clear {
	border: 1px dashed red;
}*/

/*GLOBAL */
body {
	font-family: verdana, sans-serif;
	margin: 0;
	color: #666;
	background-image: url(../img/fond.png);
}

header, main {
	max-width: 750px;
	margin: 0 auto;
}

.clear {
	clear: both;
}

/* HEADER */
header {
	background-color: #B8CB21;
	padding: 25px;
}

header nav {
	float: right;
	padding: 50px 0;
}

header nav a {
	color: #2C4726;
	text-transform: uppercase;
	padding: 10px;
	margin: 15px;
	font-family: "Oswald", sans-serif;
	font-size: 1.3em;
}

/* MAIN */
h2 {
	font-family: "Oswald", sans-serif;
	color: #B8CB21;
	text-transform: uppercase;
	font-weight: normal;
}
.close{
  display: inline-block;
  position: absolute;
  width: 2.5rem;
  height: 2.5rem;
  padding: 2px;
  text-decoration: none;
  text-shadow: none;
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
  background: #f2f4e8;
  color: #fff;
  border: 3px solid #fff;
  border-radius: 20px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  margin-top: 6%;
  margin-right: 7%;
}
img {
	max-width: 100%;
}

main {
	background-color: white;
	padding: 25px;
}

main a {
	float: right;
	text-decoration: none;
	color: white;
	background-color: #B8CB21;
	padding: 10px;
}

article img {
	float: left;
	width: 200px;
	margin-right: 10px;
}

/* LICENCE */
#licence {
    display: block;
    text-align: center;
    padding: 25px;
}

#licence img {
    width: 50px;
}
