/* FONT FACE */
/* Appelle les polices de la page */

/*GLOBAL */
/* Balises et class appelés à plusieurs endroits dans la page */
body{
  background-image: url("../img/fond.png");
  margin: 0 auto;
  line-height: 1.8;
}
/* HEADER */
/* Ce qui concerne le header et la nav */
header{
  border-top: 3px solid #21a1a2;
  border-bottom: 3px solid #21a1a2;
  text-align: center;
  margin-top: 10%;
  background-color: #25B3B4;
}

nav{
  text-align: center;
}

nav a{
  text-decoration: none;
  color: white;
  margin: 10px;

}

.welcome{
  text-align: center;
  width: 70%;
  margin-left: 15%;
  margin-top: 10%;
  margin-bottom: 10%;
}

.welcome h1{
  font-size: 2.5em;
  font-family: "Slabo 27px";
}

/* MAIN */
/* Ce qui concerne le corps du site */

main{
  max-width: 1100px;
  margin: 0 auto;
}

.main{
  width: 70%;
  background-color: #d3eff0;
  text-align: center;


}

main h1{
  font-family: "Slabo 27px";
  margin: 15px;
  font-size: 3.5em;
}

main article{
  display: inline-block;

}

main img{
  border-radius: 50%;
  float: left;
  margin-right: 2.5%;
}
main i{
  color: #88CBDA;
}

.more{
  text-align: center;
  border: 1px solid #25b3b4;
  background-color: #25b3b4;
  height: 50px;
  width: 120px;
  margin-left: 50%;
}

.more a{
color: white;
text-decoration: none;
paddind-top: 5%;
}

.more i{
  color: white;
}

.crust, .multi{
 width: 35%;
 margin: 2.5%;
 text-align: left;
 height: 800px;
}

aside{
  width: 27%;
  border: 3px solid #21a1a2;
  text-align: left;
  color: white;
  background-color: #25B3B4;
  float: right;
  margin-top: -91%;
  margin-left: -20%;
  padding: 1%;
}

aside img{
  float: right;
  margin-top: -30%;
  margin-right: -15%
}
/* FOOTER */
/* Ce qui concerne le footer */

small{
  text-align: center;
  margin-top: 10%;
}

small img{
  margin-left: 50%;
  width: 50px;
  height: 50px;
}
