header{
	background-color: #B8CB21;
}
.bureau{
	float: left;
	width: 25%;
	margin-right: 0.5%;
}
.nav{
	float: right;
	color: #2E4B30;
	margin-top: 60px;
	font-family: "Oswald";
}
@font-face{
	font-family: "Oswald";
	src: url("googleFonts.html");
}
header a{
	padding: 0 30px 0 30px;
	color: #394E32;
}

body{
	background-image:url("img/fond.png");
	max-width: 750px;
	margin: auto;
}
main{
	background-color: white;
	padding:25px 25px 25px 25px;
}

.lamain{
	float: left;
	width: 25%;
	margin-right: 0.5%;
}

div{
	text-align: right;
	border: 15px solid #B8CB21;
	background-color: #B8CB21;
	margin-left: 80% ;

}

 h1{
	color: #B8CB21;
	font-family: "Oswald";
}
p,li{
	color: #6A7077;

}
.lireplus{
	color: white;
	padding-right: 18px;
	text-decoration: none;
}
#licence {
    display: block;
    text-align: center;
    padding: 25px;

}

#licence img {
    width: 50px;
}

.close{
  display: inline-block;
  position: absolute;
  width: 1.2rem;
  height: 1.1rem;
  text-decoration: none;
  text-shadow: none;
  text-align: center;
  font-weight: bold;
  font-size: 1rem;
  background: red;
  color: #fff;
  border: 3px solid #fff;
  border-radius: 20px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  margin-left: 50%;
}
